<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset-"UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale 1.0">
        <title>{%block title%}Mi APP{%endblock%}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}">
    </head>

    <body>
        <header>
        <h1>Esta es la Cabecera de mi aplicación</h1>
        <hr/>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('saludo_personalizado', name='Laura', edad=25) }}">Saludo Personalizado</a>
                </li>
                <li>
                    <a href="{{ url_for('catalogo') }}">Catálogo</a>
                </li>
                <li>
                    <a href="{{ url_for('contacto') }}">Contacto</a>
                </li>
                <li>
                    <a href="{{ url_for('filtrar') }}">Filtrar</a>
                </li>
            </ul>
        </nav>
        </header>
        <main>
            {% block content %}
             <h1>Contenido de la página</h1>
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2026 - Mi APP</p>
        </footer>
    </body>

    </html>