{% extends "base.html" %}

{% block content %}

<h1>Catálogo de Productos</h1>
<h2>Nombre: {{nombre}}</h2>
<p>Mostrando el producto</p>

<ul>
    {% for producto in lista_productos %}
    <li>
        <strong>
            <a href="{{ url_for('producto', idProducto = loop.index -1) }}">
                {{ producto.nombre }}
            </a>
        </strong> 
        ${{ producto.precio }}

        {% if producto.disponible %}
        <span style="color: green;">(En stock)</span>
        {% else %}
        <span style="color: red;">(Agotado)</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}